@page "/attendancetab"
@using OOPFinal.Managers;
@using OOPFinal.Entity;

<h1>Sign In Log</h1>
<style>
    .content {
        margin-bottom: 5px;
    }
</style>

<div class="content">
    <label>Search by: <input type="text" @bind="searchName" /></label>
    <input type="date" @bind="searchDate" />

    <button>Search</button>
</div>

<div class="content">
    <label>ID: <input type="text" @bind="attendance.Id" /></label>

    <label>First Name: <input type="text" @bind="attendance.FirstName" /></label>

    <label>Last Name: <input type="text" @bind="attendance.LastName" /></label>

    <label>Date & Time: <input type="datetime" @bind="attendance.SignIn" /></label>

    <button @onclick="SubmitAttendance">Sign In</button>
    <button @onclick="ResetForm">Reset</button>
</div>

<div class="content">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">ID</th>
                <th style="border: 1px solid black; padding: 8px;">FIRST</th>
                <th style="border: 1px solid black; padding: 8px;">LAST</th>
                <th style="border: 1px solid black; padding: 8px;">SIGN IN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in AttendanceList)
            {
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">@attendance.Id</td>
                    <td style="border: 1px solid black; padding: 8px;">@attendance.FirstName</td>
                    <td style="border: 1px solid black; padding: 8px;">@attendance.LastName</td>
                    <td style="border: 1px solid black; padding: 8px;">@attendance.SignIn</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private DBManager _dbManager = DBManager.INSTANCE;
    private List<Attendance> AttendanceList = new();
    private Attendance attendance = new Attendance(0, "", "", DateTime.Now);

    private string? searchName;
    private DateOnly searchDate = DateOnly.FromDateTime(DateTime.Now);

    protected override async Task OnInitializedAsync()
    {
        await LoadAttendance();
    }

    private async Task LoadAttendance()
    {
        Console.WriteLine("Loading attendance...");
        await _dbManager.LoadAttendance();
        AttendanceList = _dbManager.AttendanceList;
    }

    private void SearchByName()
    {
        
    }

    private void SearchByDate()
    {
        
    }

    private void SubmitAttendance()
    {
        //method to save attendance to csv
    }

    private void ResetForm()
    {
        attendance.Id = 0;
        attendance.FirstName = "";
        attendance.LastName = "";
        attendance.SignIn = DateTime.Now;
    }
}

