@page "/"

<style>
    .container {
        margin: 20px auto;
        max-width: 80%;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #333;
    }

    button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
    }

        button:hover {
            background-color: #45a049;
        }

    input[type="text"], input[type="date"], input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    thead {
        background-color: #f2f2f2;
    }</style>


<h1>Welcome to Gym Management System!</h1>

